* {
    black:      #242727;
    background: #2e3233;
    red:        #eb7a73;
    green:      #b9c675;
    yellow:     #e8b267;
    blue:       #8dbba3;
    magenta:    #e396a4;
    cyan:       #99c792;
    white:      #f1e4c2;
    grey:       #5d5d5d;
    border:     #e89a5e;

    highlight:                 bold italic;
    background-color:          @background;
    text-color:                @white;
    border-color:              @white;
}
